@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url(./images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ff7979;
}

.hidden {
  display: none;
}

.redborder{
  border: 2px solid #FF7979 !important;
}

main {
  height: 100vh;
  padding: 77px 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .textdiv {
    h1 {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 55px; /* 110% */
      letter-spacing: -0.521px;
      margin-bottom: 11px;
      max-width: 525px;
    }

    p {
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px; /* 162.5% */
      max-width: 525px;
    }
  }

  .rightdiv {
    .freetrial {
      width: 540px;
      height: 60px;
      padding: 17px 0;
      border-radius: 10px;
      background: #5e54a4;
      box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
      color: #fff;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 173.333% */
      letter-spacing: 0.268px;
      margin-bottom: 24px;
      border: 0;
      span {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.268px;
      }
    }

    form {
      width: 540px;
      padding: 40px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      gap: 19px;

      .input {
        position: relative;
        .boxes {
          width: 460px;
          height: 56px;
          border-radius: 5px;
          border: 1px solid #5e54a4;
          background: #fff;
          padding: 15px 32px;
          color: #3d3b48;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 26px; /* 185.714% */
          letter-spacing: 0.25px;
        }

        img {
          position: absolute;
          top: 16px;
          right: 17px;
        }

        p {
          color: #ff7979;
          text-align: right;
          font-family: "Poppins", sans-serif;
          font-size: 11px;
          font-style: italic;
          font-weight: 500;
          line-height: normal;
          margin-top: 6px;
        }
      }

      .lastdiv {
        display: flex;
        flex-direction: column;
        text-align: center;
        .submit {
          width: 460px;
          height: 56px;
          border-radius: 5px;
          background: #77e2b3;
          box-shadow: 0 -4px 0 0 rgba(0, 0, 0, 0.09) inset;
          color: #fff;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: 26px; /* 173.333% */
          letter-spacing: 1px;
          border: 0;
          margin-bottom: 8px;

          &:hover {
            cursor: pointer;
          }
        }

        p {
          color: #bab7d4;
          text-align: center;
          font-family: Poppins;
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px; /* 236.364% */

          span {color: #FF7979;
font-family: Poppins;
font-size: 11px;
font-style: normal;
font-weight: 700;
line-height: 26px;
          }
        }
      }
    }
  }
}
